*{
    margin:0;
    padding:0;
    font-family: Verdana, Geneva, sans-serif;
}
.banner{
    width:100%;
    height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/n2.jpg);
    background-size: cover;
    background-position: center;
  }
  .logo{
    width:200px;
    cursor:pointer;
    height:130px;
  }
.cancel{
    position:absolute; 
    top:0; 
    right:0; 
    color:black;
  }
  .content{
    top:70%;
    left:39%;
    position:absolute;
    transform:translateY(-50%);
    text-align: center;
   
  }
  .content p{
    margin:10px auto;
    font-weight:100;
    line-height:25px;
    color:whitesmoke;
  }
  .content h1{
    font-size: 50px;
    margin-top:80px;
    color:whitesmoke;
  }
  .cancel a:hover{
    color:whitesmoke;
    background-color: whitesmoke;
  }
  .menu a:hover {
    background-color:whitesmoke;
    color: black;
}
.menu a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
.previous {
  background-color: black;
    color: whitesmoke;
}
  
.next {
    background-color: black;
    color:whitesmoke;
}
  
.round {
    border-radius: 50%;
}